.github/             export-ignore
tests/               export-ignore
.editorconfig        export-ignore
.gitattributes       export-ignore
.gitignore           export-ignore
.php-cs-fixer.php    export-ignore
composer.lock        export-ignore
docker-compose.yml   export-ignore
infection.json.dist  export-ignore
phpbench.json        export-ignore
phpstan.neon.dist    export-ignore
phpunit.xml          export-ignore
psalm.xml.dist       export-ignore
justfile             export-ignore
rector.php           export-ignore
build/               export-ignore
docs/                export-ignore
CHANGELOG.md         export-ignore
AGENTS.md            export-ignore
WARP.md              export-ignore
