{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "html": "coverage/infection.html"
    },
    "mutators": {
        "@default": true
    }
}
